# Configurações Supabase para Login e Cadastro
SUPABASE_URL=https://ahaefzkrjudhvhbltphl.supabase.co/rest/v1/
SUPABASE_ANON_KEY=sb_publishable_VXJrhRVQa3Qk0IDc9dfh1g_DXHRu2Gt

# URLs de Redirecionamento
REDIRECT_LOGIN=index.html
REDIRECT_SIGNUP=index.html
LOGIN_PAGE=pages/login.html
SIGNUP_PAGE=pages/cadastro.html

# Configurações da Aplicação
APP_NAME=Aegis Tecnologia
APP_ENV=development
